---
import Badge from '../components/badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex items-center gap-x-4 pb-10">
				Hey, I'm Clemant.dev <Badge>Ready to become part of your team</Badge>
			</h1>
			<h2 class="text-xl opacity-80">+2 years of experience. Web Developer and System Analist. De Venezuela &#127483;&#127466;. Specialized in Build Creative Apps</h2>
		</section>
	</main>
</Layout>
